<div class="cover-container d-flex w-100 p-3 mx-auto flex-column text-center" style="height: 733px;">
  <div class="m-auto w-75 text-light">
    <h1 class="cover-heading">Gamers</h1>
    <p class="lead">
      This is a service for All of Gamers by Gamers!<br />
    </p>
    <p class="lead">
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-secondary" %>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-light btn-lg" %>
      <%= link_to "Start as guestuser", users_guest_sign_in_path, class: "btn btn-lg btn-dark", method: :post %>
    </p>
  </div>
</div>