<div class="container p-4">
  <div class="row">
    <div class="col-3">
      <%= render 'snippets/user_card', profile: @profile, user: @user %>
    </div>
    <div class="col-9">
      <div class="container">
        <% @pops.each do |pop| %>
          <%= render 'snippets/pop_card', pop: pop %>
        <% end %>
      </div>
    </div>
  </div>
</div>
