<div class="cover-container d-flex w-100 p-3 mx-auto flex-column text-center" style="height: 733px;">
  <div class="m-auto w-75 text-light">
    <h1 class="cover-heading">Gamers</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <%= link_to "Get Started", pops_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>
</div>
